<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Twig模版语言入门 - 老彭的博客</title>
    <link rel="stylesheet" href="/static/css/markdown.css">
</head>
<body>
<h1 class="title">Twig模版语言入门</h1>

<a href="/"><img src="/static/img/arrow-back.png" class="title_arrow_back" /></a>

<nav>
<ul>
<li><a href="#可用符号">可用符号</a></li>
<li><a href="#注释">注释</a></li>
<li><a href="#变量">变量</a></li>
<li><a href="#数组遍历">数组遍历</a></li>
<li><a href="#控制结构">控制结构</a></li>
<li><a href="#内建过滤器">内建过滤器</a></li>
<li><a href="#借用自php自带函数的过滤器">借用自PHP自带函数的过滤器</a></li>
<li><a href="#内建函数">内建函数</a></li>
</ul>
</nav>

<p>Twig中有两种定界符 <code>{% ... %}</code> 和 <code>{{ ... }}</code> ， 前一种用来执行语句，比如for循环、IF判断、过滤等操作，后一种模版中用来显示变量。Twig常用用法记录如下：</p>

<h1 id="可用符号">可用符号</h1>

<p>== != &lt; &gt; &gt;= &lt;= + - ~ * / // % ** | [] . .. and or not in is b-and b-or b-xor</p>

<p>部分符号的含义如下</p>

<ul>
<li>~：连接两字符串，相当于 PHP 中的点号</li>
<li>//：整除</li>
<li>**：乘方，相当于 PHP 中的 ^</li>
<li>b-and、b-or、b-xor：按位与、按位或、按位异或</li>
<li>-：减法以及去除空白的简写用法，如 {{- 数据 }} =&gt; 去除左边的空白、{{ 数据 -}} =&gt; 去除右边的空白、{{- 数据 -}} =&gt; 去除两边的空白</li>
</ul>

<h1 id="注释">注释</h1>

<p><code>{# This is Twig Comment #}</code></p>

<h1 id="变量">变量</h1>

<p>foo 为PHP赋值变量， 则模版中可以使用 <code>{{ foo }}</code>。如果该变量为数组或者对象，则可以使用<code>{{ foo.bar }}</code>来表示，也可以直接调用类中的方法，如 <code>{{ foo.getName }}</code>或当有参数传递时使用 <code>{{ foo.getName(p1, p2, p3) }}</code></p>

<p>当模版中使用{{ foo.bar }}时，PHP会做如下判断来检测对应变量的值：</p>

<ul>
<li>1. 检测foo是否是数组，并且bar是一个有效的KEY</li>
<li>2. 如果foo为对象，则检测bar是否为有效的属性</li>
<li>3. 如果foo为对象，但bar不是一个有效的属性，则检测bar是否为有效方法</li>
<li>4. 如果foo为对象，但bar不是一个有效的方法，则检测getBar是否为有效方法</li>
<li>5. 如果foo为对象，但getBar不是有效方法，则检测isBar是否为有效方法</li>
<li>6. 如果没有，则返回null</li>
</ul>

<p>当foo为数组时，模版也可以这样使用：<code>{{ foo['bar'] }}</code></p>

<p>变量未定义默认值设置：
<code>{{ var|default('var is not defined') }}</code></p>

<p>可使用 <code>{% set 变量名=变量值 %}</code> 声明变量，也可写成 <code>{% set 变量名 %}</code> 变量值 <code>{% endset %}</code></p>

<p>PHP 中非关联数组被映射成 <code>[元素1, 元素2, ...]</code>，关联数组则被映射成 <code>{键1: 值1, 键2: 值2, ...}</code></p>

<h1 id="数组遍历">数组遍历</h1>

<ol>
<li>按数组value遍历：</li>
</ol>

<pre><code>{% for value in foo %}
    {{ value }}
{% endfor %}
</code></pre>

<ol>
<li>按数组key遍历：</li>
</ol>

<pre><code>{% for key in foo|keys %}
    {{ key }}
{% endfor %}
</code></pre>

<ol>
<li>按key，value遍历</li>
</ol>

<pre><code>{% for key, value in foo %}
    {{ key}}:{{value }}
{% endfor %}
</code></pre>

<ol>
<li>如果 foo 非数组，还可以使用else语句，如：</li>
</ol>

<pre><code>{% for key, value in foo %}
    {{ key}}:{{value }}
{% else %}  
    foo is Not a Array
{% endfor %}
</code></pre>

<ol>
<li>也可以直接带条件，遍历二维数组时比较有用，可用value.field来判断：</li>
</ol>

<pre><code>{% for key, value in foo if value == 1%}
    {{ key}}:{{value }}
{% endfor %}
</code></pre>

<p>循环体内部变量：</p>

<ul>
<li>loop.index    循环的次数（从1开始）</li>
<li>loop.index0   循环的次数（从0开始）</li>
<li>loop.revindex 循环剩余次数（最小值为1）</li>
<li>loop.revindex0    循环剩余次数（最小值为0）</li>
<li>loop.first    当第一次循环的时候返回true</li>
<li>loop.last 当最后一次循环的时候返回true</li>
<li>loop.length   循环的总数</li>
<li>loop.parent   被循环的数组</li>
</ul>

<p><strong>条件语句</strong></p>

<ol>
<li>需要使用 or 和 and 代替 ||、&amp;&amp;</li>
</ol>

<pre><code>{% if a == '1' or b == '2' %}
a = 1 or b = 2
{% endif %}
</code></pre>

<ol>
<li>判断变量是否定义</li>
</ol>

<pre><code>{% if var is not defined %}
    {# do something #}
{% endif %}
</code></pre>

<ol>
<li>是否为NULL</li>
</ol>

<pre><code>{% if var is null %}
    {# do something #}
{% endif %}
</code></pre>

<ol>
<li>是否为false</li>
</ol>

<pre><code>{% if var is sameas(false) %}
    {# do something %}
{% endif %}
</code></pre>

<ol>
<li>解析定界符</li>
</ol>

<pre><code>{{ '{{' }}
 
{% raw %}
    &lt;ul&gt;
    {% for item in seq %}
        &lt;li&gt;{{ item }}&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
{% endraw %}
</code></pre>

<h1 id="控制结构">控制结构</h1>

<ul>
<li>{% if aaa %} xxx {% elseif bbb %} yyy {% else %} zzz：判断语句</li>
<li>{% for %} xxx {% endfor %}：迭代变量</li>
<li>{% do %}：没什么其他含义，{% do 1+2 %} 等同于 {{ 1+2 }}</li>
<li>{% flush %}：刷新输出缓冲，等同于 flush</li>
<li>{% include %}：包含模板</li>
<li>{% extends %}：扩展模板</li>
<li>{% embed %} xxx {% endembed %}：包含模板并扩展该模板的内容，相当于 include 和 extends 的结合体</li>
<li>{% use %}：包含模板，近似于多重继承</li>
<li>{% from aaa import bbb as ccc %}：从指定模板导入宏并设置别名</li>
<li>{% macro %} xxx {% endmacro %}：定义宏以便多次调用，与定义 PHP 函数无异</li>
<li>{% sandbox %} {% include xxx %} {% endsandbox %}：对导入的模板指定沙箱模式，只对 include 语句有效，只在沙箱模式已开启的情况下生效</li>
<li>{% block xxx %} 或 {% block %} xxx {% endblock %}：定义代码块或覆盖代码块</li>
<li>{% set xxx %} 或 {% set %} xxx {% endset %}：在模板内定义变量</li>
<li>{% filter %} xxx {% endfilter %}：多行过滤器</li>
<li>{% spaceless %} xxx {% endspaceless %}：去除 HTML 片段中的空格</li>
<li>{% autoescape %} xxx {% endautoescape %}：将字符串安全地处理成合法的指定数据</li>
<li>{% verbatim %} xxx {% endverbatim %}：阻止模板引擎的编译，是 raw 的新名字</li>
</ul>

<h1 id="内建过滤器">内建过滤器</h1>

<p>过滤器用来修饰数据，各过滤器可以用竖线分隔进行链式调用，用括号传递参数。也可以将过滤器当成单独的函数来用，形式如下：</p>

<pre><code>{% filter 过滤器名 %}
待处理的数据
{% endfilter %}
</code></pre>

<ul>
<li>batch：将数组按指定的个数分割成更小的数组，可选的第二个参数用来在元素不够的情况下进行填充。如 {{ [1, 2, 3, 4, 5]|batch(2, &lsquo;NoItem&rsquo;) }} =&gt; [[1, 2], [3, 4], [5, &lsquo;NoItem&rsquo;]]</li>
<li>date_modify：修改时间，常与 date 联用。如 {{ &ldquo;|date_modify(&lsquo;+3 days&rsquo;)|date(&lsquo;Y-m-d&rsquo;) }} =&gt; 将当前时间加3天后显示</li>
<li>default：当所修饰的数据不存在或为空时，提供默认值。如 {{ &ldquo;|default(&lsquo;Ruchee&rsquo;) }} =&gt; &lsquo;Ruchee&rsquo;</li>
<li>escape：将字符串安全地处理成合法的指定数据，可简写为 e，支持多种转换模式，默认模式为 html，其他可选模式有 html_attr、js、css、url</li>
<li>first：返回数组的第一个元素或字符串的第一个字符。如 {{ {a: 1, b: 2, c: 3}|first }} =&gt; 1</li>
<li>last：返回数组的最后一个元素或字符串的最后一个字符。如 {{ {a: 1, b: 2, c: 3}|last }} =&gt; 3</li>
<li>replace：替换一个字符串中的指定内容。如 {{ &lsquo;%s1 love %s2&rsquo;|replace({&lsquo;%s1&rsquo;: &lsquo;Ruchee&rsquo;, &lsquo;%s2&rsquo;: &lsquo;Vim&rsquo;}) }} =&gt; &lsquo;Ruchee love Vim&rsquo;</li>
<li>raw：让数据在 autoescape 过滤器里失效</li>
</ul>

<h1 id="借用自php自带函数的过滤器">借用自PHP自带函数的过滤器</h1>

<ul>
<li>abs：取绝对值</li>
<li>nl2br：将字符串里的 <code>\n</code> 替换成 <code>&lt;br/&gt;</code></li>
<li>join：将数组的各个元素按指定分隔符组成字符串</li>
<li>sort：对数组排序</li>
<li>trim：去除字符串首尾的指定字符，默认为空格</li>
<li>date：格式化时间，可处理与 strtotime 兼容的字符串，或 DateTime/DateInterval 的实例，可选的第二个参数用于指定时区，如果所修饰的数据为空则默认为当前时间</li>
<li>reverse：反转一个数组或字符串，在 array_reverse 的基础上增加了对字符串的处理</li>
<li>slice：截取数组或字符串的一部分，在 array_slice 的基础上增加了对字符串的处理</li>
<li>keys：将数组的全部键名提取成一个数组，等同于 array_keys</li>
<li>merge：合并两数组，近似于 array_merge 。如 {{ 数组1|merge(数组2) }}</li>
<li>length：返回数组元素的个数或字符串的长度，等同于 count 和 strlen 的结合体</li>
<li>capitalize：将字符串的首字母大写，等同于 ucfirst</li>
<li>title：将字符串中每个单词的首字母大写，等同于 ucwords</li>
<li>lower：将字符串所有字母全部变成小写，等同于 strtolower</li>
<li>upper：将字符串所有字母全部变成大写，等同于 strtoupper</li>
<li>split：将字符串分割成数组，等同于 str_split</li>
<li>striptags：去除字符串中的 HTML/PHP 标记，等同于 strip_tags</li>
<li>url_encode：编码链接字符串，等同于 urlencode</li>
<li>json_encode：编码 JSON 格式，等同于 json_encode</li>
<li>format：格式化一个字符串，近似于 printf 。如 {{ &lsquo;My name is %s, and I love %s&rsquo;|format(&lsquo;Ruchee&rsquo;, &lsquo;Vim&rsquo;) }} =&gt; &lsquo;My name is Ruchee, and I love Vim&rsquo;</li>
<li>number_format：格式化数值，等同于 number_format</li>
<li>convert_encoding：编码转换，第一个参数指定转换后的编码，第二个参数指定转换前的编码，近似于 iconv</li>
</ul>

<h1 id="内建函数">内建函数</h1>

<ul>
<li>even：是否为偶数</li>
<li>odd：是否为奇数</li>
<li>empty：是否为空</li>
<li>null：是否为 null</li>
<li>defined：是否已定义</li>
<li>sameas：目标变量与指定值是否指向的是内存中的同一个地址，使用形式 if 变量值 is sameas(指定值)</li>
<li>divisibleby：目标数值是否能够被指定值整除，使用形式 if 目标数值 divisibleby(指定值)，其中指定值不能为 0</li>
<li>iterable：目标变量是否是数组或者是否可迭代，使用形式 if 变量值 is iterable</li>
<li>attribute：动态获取变量属性值，两种使用形式为 attribute(数组, &lsquo;元素名&rsquo;) 和 attribute(对象, &lsquo;方法名&rsquo;, 可选参数)</li>
<li>block：重复引用指定代码块，如 {{ block(&lsquo;title&rsquo;) }}</li>
<li>constant：从字符串或对象取得常量值</li>
<li>cycle：循环显示一个数组的元素，调用形式为 cycle(数组, 一个循环变量)</li>
<li>date：格式化时间</li>
<li>dump：在开启调试模式的情况下显示详细的变量信息，等同于 var_dump</li>
<li>include：包含其他模板文件</li>
<li>parent：在覆盖代码片段时用于引用父片段的内容</li>
<li>random：制造一个随机数</li>
<li>range：返回一个指定区间的数组，可指定步长，Twig 使用 .. 作为其简用法，等同于 range</li>
<li>template_from_string：根据字符串加载模板</li>
</ul>

<div class="eof">-- EOF --</div>
<div class="eof_arrow">
    <a href="/"><img src="/static/img/arrow-back.png" style="width:25px;height:25px;" /></a>
</div>

<div class="eof_tag">
    发表于：
    <code style="border:0px;background:none;"><a href="/2013-06.html">2013-06-02 19:24</a></code>
</div>
<div class="eof_tag">
    标签：
    <code style="border:0px;background:none;"><a href="/tag/php.html">PHP</a></code>
    <code style="border:0px;background:none;"><a href="/tag/twig.html">Twig</a></code>
</div>

<div id="footer">
    <ul>
        <li>
        <b>上一篇</b>：<a href="/jquery-validate.html">Jquery Validate使用及配置</a>
        </li>
        
        <li>
        <b>下一篇</b>：<a href="/codeigniter-initialization.html">CodeIgniter项目初始化</a>
        </li>
        <li>
            <b>Github地址</b>：<a href="https://github.com/pengbotao/itopic.go/blob/master/posts/php/Twig模版语言入门.md">https://github.com/pengbotao/itopic.go/blob/master/posts/php/Twig模版语言入门.md</a>
        <li>
        <li>
            @2013-2020 老彭的博客&nbsp;[Hosted by <a href="javascript:;" style="font-weight: bold" target="_blank">Github Pages</a>]
        </li>
    </ul>
</div>

<div id="top"><a href="#"><img src="/static/img/arrow-top.png" style="width:40px;height:40px;" /></a></div>
<script>
ready(fn);
function ready(fn){  
    if(document.addEventListener){
        document.addEventListener('DOMContentLoaded',function(){
            document.removeEventListener('DOMContentLoaded',arguments.callee,false);  
            fn();
        },false);
    } else if(document.attachEvent) {
        document.attachEvent('onreadystatechange',function(){
            if(document.readyState=='complete'){
                document.detachEvent('onreadystatechange',arguments.callee);  
                fn();
            }
        });
    }  
}  
function fn(){
    if(document.getElementsByTagName("nav")[0].innerText == "") {
        document.getElementsByTagName("body")[0].style.marginLeft = "0";
    }
}
</script>
</body>
</html>